# Ignorar archivos/carpetas que EAS puede regenerar o que no son necesarios
dist/
node_modules/
.expo/
.expo-shared/
.git/
.vscode/
uploads/
android/
ios/
web-build/
*.log
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Mantener todos los assets usados por la app (incluye carátulas y audios)
!assets/
